.Filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  margin-bottom: 50px;
  margin-top: 7.7em;
}

.Select {
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 0 !important;
  background: #fcfffe;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.Select::-ms-expand {
  display: none;
}

.Selected {
  position: relative;
  display: flex;
  width: 16em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}

.Selected::after {
  content: "\25BC";
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  height: 2.7em;
}
.Selected:hover::after {
  color: #ff0051;
  content: "\25B6";
}

.Select option {
  background-color: hsla(341, 100%, 75%, 0.51);
  border-radius: 7px;
}